{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% if user.is_anonymous %}

{% endif %}

{% endblock %}

{% block usertools %}
{% if has_permission %}
    <div id="user-tools">
        {% block welcome-msg %}
            {{ block.super }}
            {% if user.has_wallet %}
                {% translate 'Wallet: ' %}<strong style="text-transform: none !important;">{{ user.wallet_address }}</strong>.
                {% translate 'Balance: ' %}<strong>{{ user.wallet_balance }}</strong>.
                {% translate 'Deployed: ' %}<strong>{{ user.is_wallet_deployed }}</strong>.
            {% endif %}
        {% endblock %}
        {% block userlinks %}
            {{ block.super }}
                {% if not user.has_wallet %}
                    / <a href="{% url 'create_wallet' %}">{% translate 'Create Wallet' %}</a>
                {% endif %}
        {% endblock %}
    </div>
{% endif %}
{% endblock %}
